<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
        <title>Mail Whiz</title>
</head>
<style>    
    #homeSection, #attachmentDetailsSection, #emailDetailsSection {
        display: none;
    }
</style>

<body>
    <%- include('../partials/navbar'); %>
        <!-- Page Content -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3" style="padding: 0px;">
                    <%- include('../partials/sideBar'); %>
                </div>
                <div class="col-md-9 content">
                    <div id="homeSection">
                        <%- include('../components/home'); %>
                    </div>

                    <div id="emailDetailsSection">
                        <%- include('../components/emailDetails'); %>
                    </div>

                    <div id="attachmentDetailsSection">
                        <%- include('../components/attachmentDetails'); %>
                    </div>
                </div>
            </div>
        </div>
</body>

<%- include('../partials/script'); %>

    <script>
        window.onload = function () {             
            $("#homeSection").slideDown("slow");            

            document.getElementById("inboxMails").innerText = "Loading mails ...";
            document.getElementById("taskList").innerText = "Loading tasks ...";
            document.getElementById("inboxAttachments").innerText = "Loading attachments ...";

            socket.emit("fetch_mails");
        }    
    </script>
</html>