<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
        <title>Mail Whiz</title>
</head>
<style>
    #homeSection {
        display: none;
    }

    #emailDetailsSection {
        display: none;
    }
</style>

<body>
    <%- include('../partials/navbar'); %>
        <!-- Page Content -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3" style="padding: 0px;">
                    <%- include('../partials/sideBar'); %>
                </div>
                <div class="col-md-9 content">
                    <div id="homeSection">
                        <%- include('../components/home'); %>
                    </div>

                    <div id="emailDetailsSection">
                        <%- include('../components/emailDetails'); %>
                    </div>
                </div>
            </div>
        </div>
</body>
<%- include('../partials/script'); %>
    <script>
        window.onload = function () {
            $("#homeSection").slideDown("slow");
            // return
            const inboxMails = document.getElementById("inboxMails");
            const taskList = document.getElementById("taskList");

            inboxMails.innerText = "Loading mails ...";
            taskList.innerText = "Loading tasks ...";

            socket.emit("fetch_mails");
        }    
    </script>

</html>