<!DOCTYPE html>
<html lang="en">

<head>    
    <%- include('../partials/head'); %>    
    <title>Mail Whizz - Error</title>
</head>

<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h4 class="display-7"><%= message %></h4>
          <p class="lead"><%= error.status %></p>
          <hr class="my-4">
          <pre><%= error.stack %></pre>
          <a class="btn btn-outline-primary" href="/">Reload Page</a>
        </div>
      </div>
</body>
<%- include('../partials/script'); %>

</html>